<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script type = "text/javascript" src = "{{url_for('static', filename='scripts.js')}}" ></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
   <body>
   <div class="container">
      <form action = "http://localhost:5000/" method = "get">
         <div class="form-group">
            <label class="control-label" for="station_id">Station</label>
            <select class="form-control" id="station_id" name="station_id">
               {% for key, value in station_info.items() %}
                  <option value="{{ key }}">{{ value }}</option>
               {% endfor %}
            </select>
         </div>
         <div class="form-group">
            <label for="datetime" class="col-2 col-form-label">Date and time</label>
            <input class="form-control" type="datetime-local" value="2019-08-01T13:45" id="datetime" name="datetime">
         </div>
<!--         <div class="form-group">-->
<!--            <label class="control-label" for="int_time">int_time</label>-->
<!--            <input type="text" class="form-control" name="int_time" id="int_time"/>-->
<!--         </div>-->
<!--         <div class="form-group">-->
<!--            <label class="control-label " for="int_date">int_date</label>-->
<!--            <input type = "text" class="form-control" name="int_date" id="int_date"/>-->
<!--         </div>-->
<!--         <div class="form-group">-->
<!--            <label class="control-label " for="int_day">int_day</label>-->
<!--            <input type="text" class="form-control" name="int_day" id="int_day"/>-->
<!--         </div>-->
         <div id="hidden_fields">
            <div class="form-group">
               <label class="control-label " for="rain">rain</label>
               <input type="text" class="form-control" name="rain" id="rain"/>
            </div>
            <div class="form-group">
               <label class="control-label " for="temp">temp</label>
               <input type="text" class="form-control" name="temp" id="temp"/>
            </div>
            <div class="form-group">
               <label class="control-label " for="rhum">rhum</label>
               <input type="text" class="form-control" name="rhum" id="rhum"/>
            </div>
         </div>
            <div class="checkbox">
               <label><input type="checkbox" id="simple" name="simple" onclick="hider()">Simple</label>
            </div>
         <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
         </div>
      </form>

      {% if result!=None %}
         <h1>Result is {{result}}</h1>
      {% endif %}
   </div>
   </body>
</html>