<!doctype html>
<html>
   <head>
      <script type = "text/javascript" src = "{{url_for('static', filename='scripts.js')}}" ></script>
   </head>
   <body>
      <form action = "http://localhost:5000/" method = "get">

         <p>station_id</p>
         <p><input type = "text" name = "station_id" /></p>

         <p>int_time</p>
         <p><input type = "text" name = "int_time" /></p>

         <p>int_date</p>
         <p><input type = "text" name = "int_date" /></p>

         <p>int_day</p>
         <p><input type = "text" name = "int_day" /></p>
         <div id="hidden_fields">
            <p>rain</p>
            <p><input type = "text" id="hidden_field" name = "rain" /></p>

            <p>temp</p>
            <p><input type = "text" name = "temp" /></p>

            <p>rhum</p>
            <p><input type = "text" name = "rhum" /></p>
         </div>
         <input type="checkbox" id="trigger" name="simple" onclick="hider()">

         <p><input type = "submit" value = "submit" /></p>
      </form>

      {% if result!=None %}
         <h1>Result is {{result}}</h1>
      {% endif %}
   </body>
</html>